mat-dialog-container#modal-component {
    border: 3px solid #262626;
    border-radius: 11px;
    background-color: #1a1a1a;
    width: auto;
    
    
}


#modal-content-wrapper {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    justify-content: center;
    
}

#modal-title {
    font-size: 22px;
    display: flex;
    justify-content: center;
}

#modal-footer {
    justify-self: center;
    align-self: center;
    padding-top: 100px;
}

#modal-action-button {
    margin-right: 30px;
    background-color:#3b3b3b;
}

#modal-cancel-button {
    background-color: #4e4e4e;
}

.cdk-overlay-pane{
    width: auto;
}
.table-responsive {
    display: block;
    width: 97vw;
    overflow-x: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }